<footer>
    <div>
        <img src="/myImg/logo.png" alt="" class="logo">
        <p class="site-name">Leaf<span>ed</span></p>
    </div>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/feeds">Feeds</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <img src="/myImg/email.png" alt="">
                <a href="">Email</a>
            </li>
            <li>
                <img src="/myImg/linkedin.png" alt="">
                <a href="">Linkedin</a>
            </li>
            <li>
                <img src="/myImg/twitter.png" alt="">
                <a href="">Twitter</a>
            </li>
        </ul>
    </div>
</footer>