<footer>
    <div>
        <img src="/public/myImg/logo.png" alt="" class="logo">
        <p class="site-name">Leaf<span>ed</span></p>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Feeds</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <img src="/public/myImg/email.png" alt="">
                <a href="">Email</a>
            </li>
            <li>
                <img src="/public/myImg/linkedin.png" alt="">
                <a href="">Linkedin</a>
            </li>
            <li>
                <img src="/public/myImg/twitter.png" alt="">
                <a href="">Twitter</a>
            </li>
        </ul>
    </div>
</footer>