<header>
    <div>
        <img src="/myImg/logo.png" alt="websitelogo" class="logo">
        <a href='/index.html' class="site-name">Leaf<span>ed</span></a>
    </div>
    <nav class="basic-nav">
        <ul>
            <li class="nav-item notSearch">
                <img src="/myImg/feeds.png" alt="feeds">
            </li>
            <li class="nav-item notSearch">
                <img src="/myImg/profile.png" alt="profile">
            </li>
            <li class="nav-item notSearch">
                <img src="/myImg/settings.png" alt="settings">
            </li>
            <li class="nav-item search">
                <input type="text"><img src="/myImg/search.png" alt="">
                <a href="/index.html"><img src="search.png" alt="" class="nav-img"></a>
            </li>
        </ul>
    </nav>
    <nav class="smol-nav">
        <a href="#a-nav" class="ham" id="ham1" data-hamnumber="1">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
</header>
<aside id="a-nav">
    <a href="#" class="ham" id="ham2" data-hamnumber="2">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <ul>
        <li class="nav-item search">
            <input type="text"><img src="/myImg/search.png" alt="">
            <a href="/index.html"><img src="search.png" alt="" class="nav-img"></a>
        </li>
        <li class="nav-item notSearch">
            <img src="/myImg/feeds.png" alt="feeds">
            <p>Feeds</p>
        </li>
        <li class="nav-item notSearch">
            <img src="/myImg/profile.png" alt="profile">
            <p>Profile</p>
        </li>
        <li class="nav-item notSearch">
            <img src="/myImg/settings.png" alt="settings">
            <p>Settings</p>
        </li>
    </ul>
</aside>