<header>
    <div>
        <img src="/myImg/logo.png" alt="websitelogo" class="logo">
        <a href='/' class="site-name">Leaf<span>ed</span></a>
    </div>
    <div class="nav-item notSearch">
        <a href="/post"><img src="/myImg/add.png" alt="post"></a>
    </div>
    <nav class="basic-nav">
        <ul>
            <li class="nav-item notSearch">
                <a href="/feeds"><img src="/myImg/feeds.png" alt="feeds"></a>
            </li>
            <li class="nav-item notSearch">
                <a href="/profile"><img src="/myImg/profile.png" alt="profile"></a>
            </li>
            <li class="nav-item notSearch">
                <a href="/settings"><img src="/myImg/settings.png" alt="settings"></a>
            </li>
            <li class="nav-item search">
                <input type="text"><img src="/myImg/search.png" alt="">
                <a href="/"><img src="search.png" alt="" class="nav-img"></a>
            </li>
        </ul>
    </nav>
    <nav class="smol-nav">
        <a href="#a-nav" class="ham" id="ham1" data-hamnumber="1">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
</header>
<aside id="a-nav">
    <a href="#" class="ham" id="ham2" data-hamnumber="2">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <ul>
        <li class="nav-item search">
            <input type="text">
            <button href=""><img src="/myImg/search.png" alt="" class="nav-img"></button>
        </li>
        <li class="nav-item notSearch">
            <a href="/feeds">
                <img src="/myImg/feeds.png" alt="feeds">
            </a>
            <p>
                <a href="/feeds">Feeds</a>
            </p>
        </li>
        <li class="nav-item notSearch">
            <a href="/profile">
                <img src="/myImg/profile.png" alt="profile">
            </a>
            <p>
                <a href="/profile">Profile</a>
            </p>
        </li>
        <li class="nav-item notSearch">
            <a href="/settings">
                <img src="/myImg/settings.png" alt="settings">
            </a>
            <p>
                <a href="/settings">Settings</a>
            </p>

        </li>
    </ul>
</aside>