<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Leaf-ed</title>
<script src="/myScripts/ui.js" defer></script>
<script src="/myScripts/feeds.js" defer></script>
<script src="/myScripts/respo.js" defer></script>
<link rel="stylesheet" href="/myStyles/home.css">
<link rel="stylesheet" href="/myStyles/headFoot.css">
<link rel="stylesheet" href="/myStyles/feeds.css">
<link rel="stylesheet" href="/myStyles/cardStyle.css">
<link rel="stylesheet" href="/myStyles/cardTheme.css">