main {
    max-width: 40rem;
    margin: auto;
    margin: 3rem auto;
}

form {
    box-shadow: 0 1px 4px rgba(21, 20, 20, 0.2);
    padding: 1rem;
    background-color:#ecf89b;
    text-align: left;
}

.form-control {
    margin-bottom: 0.75rem;
}

label,
input,
textarea {
    display: block;
    width: 100%;
}

label {
    color: rgb(67, 77, 11);
    margin-bottom: 0.25rem;
}

input,
textarea {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    background-color: #f4ffaf;
    border: 1px solid  #cde04f;
    color: #767619;
        
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    background-color:  #efff83;
    
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #b1c733;
    border-radius: 4px;
    color: white;
    border: 1px solid  #d6e578;
}

button:hover {
    background-color:#cbde5e;
}