<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/meta.ejs')%>
</head>

<%- include('includes/header.ejs')%>

    <body>
        <main>
            <section class="section" id="pick">
                <h2>Posted</h2>
                <p>Your feed has been posted</p>
            </section>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>