<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/meta.ejs')  %>
</head>

<%- include('includes/header.ejs')%>

    <body>

        <main>
            <section id="feed-section">
                <h2>Top Feeds</h2>
                <ul id="feed-wrapper">
                    <!-- *****Template Html*****
                     <li class="feed-item">
                    <article>
                        <div class="feed-text">
                            <p></p>
                        </div>
                        <div class="feed-title">
                            <h3></h3>
                        </div>
                    </article>
                </li>
            -->
                </ul>
            </section>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>