<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/meta.ejs')%>
</head>

<%- include('includes/header.ejs')%>

    <body>

        <main>
            <section id="feed-section">
                <h2>Top Feeds</h2>
                <ul id="feed-wrapper">

                </ul>
            </section>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>