<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/meta.ejs')%>
</head>

<%- include('includes/header.ejs')%>

    <body>
        <main>
            <section class="section" id="pick">
                <h2>Features</h2>
            </section>
            <section class="section" id="lastet-post">
                <h2>Latest Posts</h2>
            </section>
            <section class="section" id="aboutUs">
                <h2>About Us</h2>
            </section>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>