<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/meta.ejs')%>
</head>

<%- include('includes/header.ejs')%>

    <body>
        <main>
            <h2>Hello</h2>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>